footer {
    background-color: white;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 4rem 10%;
}

.footer-section {
    text-align: left;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-subtitle {
    color: #f00;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: -0.5rem;
}

footer a {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: gray;
}

#footer-section-button-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

#footer-section-button-contact {
    letter-spacing: normal;
    background-color: orange;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.473);
    border-radius: 0.6rem;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    transition: 0.2s ease all;

}

#footer-section-button-contact:hover {
    background-color: rgb(207, 135, 0);
}

#footer-section-button-facebook {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 0 0 15px #00000040;
}

.footer-links {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    line-height: 1rem;
}

@media (width <= 1050px) {
    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .footer-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}