nav {
    position: sticky;
    top: 0;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.1rem;

    padding: 20px 17%;
    margin: 0 auto;
    color: rgb(39, 39, 39);
    border-bottom: 1px solid rgba(128, 84, 84, 0.301);
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.856);

    box-shadow: 0 0 35px rgba(0, 0, 0, 0.205);

    z-index: 100;
}

nav a {
    all: unset;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2.5rem;
    list-style-type: none;
}

.nav-button {
    padding: 10px 27px;
    background: red;
    border-radius: 5rem;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    color: white;
    background: rgb(214, 0, 0);
}


.nav-button > img {
    transition: 150ms all;
    margin-right: 12px;
}

.nav-button:hover > img {
    margin-right: 7px;
}

nav > ul > li {
    cursor: pointer;
    transition: all 0.1s ease;
}

nav li:hover {
    color: red;
}

#phone-menu-button {
    cursor: pointer;
    display: none;
}

@media (width <= 1050px) {
    #phone-menu-button {
        display: flex;
    }

    nav {
        overflow: visible;
    }
    
    nav > ul {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        width: 100%;
        height: 100vh;
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(1rem);
        margin: 0;
        list-style-type: none;
        background-color: rgba(255, 255, 255, 0.95);
        z-index: -1;
    }

    nav > ul.active {
        transform: translateX(0);
    }
}