@media (width <= 1050px) {
    #order-image-container {
        display: none;
    }
    
    #our-team-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}